<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <target xsi:type="File"
            name="file"
            layout="${longdate}, Level: ${level}, CorrelationKey: ${event-properties:item=CorrelationKey}, User: ${event-properties:item=CurrentUser}, RequestPath: ${event-properties:item=HttpVerb} ${event-properties:item=RequestPath}, Message: ${message}"
            archiveAboveSize="10000000"
            maxArchiveFiles="10"
            archiveFileName="${basedir}/Logs/Archived/logfile-{#}.txt"
            fileName="${basedir}/Logs/logfile.txt" />
    </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="file" />
  </rules>
</nlog>
